body{
    background:rgba(2, 2, 2, 0.881);
    
    color:rgb(0, 170, 255);
}
.card{
    margin:20px auto;
    display: flex;    
    align-items: center;
    flex-direction: column;
    padding:20px;
}

.inp{
    border-radius: 30px;
    height: 40px;
    width: 300px;
    padding-left: 20px;
}


         .btn-search {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
         .btn-search {
            border-radius: 30px;
            height: 40px;
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            padding:20px;
            text-align: center;
            line-height: 5px;
          }

          .btn-search:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }

.upper{
    display: flex;
    align-items: center;
    justify-content: center;
}
         